.proyecto_Estacionamiento.json.backup
[
    {
        "id": "f369f98bb972f6f5",
        "type": "tab",
        "label": "flwLecturaGPIO_Raspberry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0af03d4e31f2356a",
        "type": "tab",
        "label": "flwEntradaParking",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a74a8b3a13ece5db",
        "type": "tab",
        "label": "flwSalidaParking",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f529c53e9a5aba38",
        "type": "tab",
        "label": "Flujo de Desencriptación",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0cd476c06e8fa6b2",
        "type": "subflow",
        "name": "subCnnBD",
        "info": "Conexión con base de datos SCAP",
        "category": "",
        "in": [
            {
                "x": 358,
                "y": 140,
                "wires": [
                    {
                        "id": "6800462c10826a9c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 640,
                "y": 140,
                "wires": [
                    {
                        "id": "6800462c10826a9c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "38350d51ad4eaafe",
        "type": "subflow",
        "name": "SubFlw_CargarTabla",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 180,
                "wires": [
                    {
                        "id": "29f681c477d38cbf"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#3FADB5"
    },
    {
        "id": "812ebe6f38e1a602",
        "type": "subflow",
        "name": "subFlwBuscaEmpresa",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 140,
                "wires": [
                    {
                        "id": "08a775654c9d6588"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 200,
                "wires": [
                    {
                        "id": "7a3dd22e952ff033",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#FFF0F0"
    },
    {
        "id": "073bd379d194e673",
        "type": "subflow",
        "name": "subFlwCrea_Ticket-Imprime",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 120,
                "wires": [
                    {
                        "id": "bd24e4d038fa615f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 220,
                "wires": [
                    {
                        "id": "05fbd4fb7b11f379",
                        "port": 1
                    },
                    {
                        "id": "05fbd4fb7b11f379",
                        "port": 0
                    },
                    {
                        "id": "05fbd4fb7b11f379",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#D7D7A0"
    },
    {
        "id": "fe730daf08c7129d",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f6610e3b2387ac5c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#9d009d",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#a91f9b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#9d009d",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#9d009d",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#e900e9",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#9d009d",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "deep-purple",
                "accents": "red",
                "warn": "light-green",
                "background": "light-green",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "menu",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 58,
                "sy": 27,
                "gx": 6,
                "gy": 6,
                "cx": 23,
                "cy": 34,
                "px": 12,
                "py": 12
            }
        }
    },
    {
        "id": "802eaec04a393b82",
        "type": "ui_tab",
        "name": "EstacionamientoCompleto",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8135167c221b806c",
        "type": "ui_group",
        "name": "Registro de Tags",
        "tab": "802eaec04a393b82",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25b503f9b6a954f4",
        "type": "ui_group",
        "name": "Lector Código de Barras",
        "tab": "802eaec04a393b82",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47bdf02e71f35711",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "47dc53baf2c4b5e4",
        "type": "serial-port",
        "name": "USB0",
        "serialport": "/dev/ttyS0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "931188c4fcf02977",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "15b3a67c9e62c8ba",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20612df8fb62aba8",
        "type": "ui_group",
        "name": "Resultado",
        "tab": "15b3a67c9e62c8ba",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "15b3a67c9e62c8ba",
        "type": "ui_tab",
        "name": "PRUEBA DASHBOARD",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1fe47a37cbc99420",
        "type": "ui_group",
        "name": "MONITOR",
        "tab": "15b3a67c9e62c8ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "901b1ce5eb5d458c",
        "type": "ui_link",
        "name": "Link 3",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 3
    },
    {
        "id": "907f8fcf39bfb2dd",
        "type": "MySQLdatabase",
        "z": "0cd476c06e8fa6b2",
        "name": "db",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "parkingtaq",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6800462c10826a9c",
        "type": "mysql",
        "z": "0cd476c06e8fa6b2",
        "mydb": "907f8fcf39bfb2dd",
        "name": "",
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "29f681c477d38cbf",
        "type": "function",
        "z": "38350d51ad4eaafe",
        "name": "Query_Busqueda",
        "func": "//var estatus = msg.payload;\nvar query = `select * from reg_tags order by id desc; `;\n\nmsg.topic = query.toString(); \n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "25122c3bb6d670e4"
            ]
        ]
    },
    {
        "id": "f10586f2c7c20ed7",
        "type": "ui_table",
        "z": "38350d51ad4eaafe",
        "group": "8135167c221b806c",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "5",
        "columns": [
            {
                "field": "id",
                "title": "ID",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tipo",
                "title": "Tipo de Dato",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "num_tag",
                "title": "Numero Tag",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fecha",
                "title": "Fecha Ingreso",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 690,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "25122c3bb6d670e4",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "38350d51ad4eaafe",
        "name": "",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "f10586f2c7c20ed7"
            ]
        ]
    },
    {
        "id": "08a775654c9d6588",
        "type": "function",
        "z": "812ebe6f38e1a602",
        "name": "fnBuscaDatosEmpresa",
        "func": "msg.topic = `select * from datempre`;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "a2051d9cc7786599"
            ]
        ]
    },
    {
        "id": "a2051d9cc7786599",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "812ebe6f38e1a602",
        "name": "",
        "x": 850,
        "y": 160,
        "wires": [
            [
                "551de218c97e025c"
            ]
        ]
    },
    {
        "id": "2c969e4bc7ba4e37",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "812ebe6f38e1a602",
        "name": "",
        "x": 390,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "df3c07c1637895cc",
        "type": "function",
        "z": "812ebe6f38e1a602",
        "name": "fnLockTable",
        "func": "\nmsg.topic = `lock table datempre write;`;\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "2c969e4bc7ba4e37"
            ]
        ]
    },
    {
        "id": "b2d56863693fbf37",
        "type": "function",
        "z": "812ebe6f38e1a602",
        "name": "fnUnlockTable",
        "func": "msg.topic = `unlock tables;`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7a3dd22e952ff033",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "812ebe6f38e1a602",
        "name": "",
        "x": 530,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "551de218c97e025c",
        "type": "function",
        "z": "812ebe6f38e1a602",
        "name": "fnDeclaraVarGlobales",
        "func": "var str_RFC = msg.payload && msg.payload[0] && msg.payload[0].rfc;\nvar str_nombreEmp = msg.payload && msg.payload[0] && msg.payload[0].descrip;\nvar str_Direccion = msg.payload && msg.payload[0] && msg.payload[0].direccion;\n\nglobal.set(\"gblstr_RFC\",str_RFC);\nglobal.set(\"gblstr_nombreEmp\", str_nombreEmp);\nglobal.set(\"gblstr_Direccion\", str_Direccion);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "7a3dd22e952ff033"
            ]
        ]
    },
    {
        "id": "650ea7edd08824aa",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "073bd379d194e673",
        "name": "",
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "bd24e4d038fa615f",
        "type": "function",
        "z": "073bd379d194e673",
        "name": "fnInsertarFolio",
        "func": "const now = new Date();\n\n// Formatear la fecha y hora en el formato de MySQL\nconst formattedDate = `${now.getFullYear()}-${(now.getMonth() + 1).toString().padStart(2, '0')}-${now.getDate().toString().padStart(2, '0')} ${now.getHours().toString().padStart(2, '0')}:${now.getMinutes().toString().padStart(2, '0')}:${now.getSeconds().toString().padStart(2, '0')}`;\n\n\nmsg.topic = `INSERT INTO folios_est (fecha_ingreso,fecha_fin,dias_est,costo,tipo_folio) \n VALUES ('${formattedDate}','1901-01-01 23:59:59',0,0,'NORMAL');`;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [
            [
                "611d7bb2cb2c89f3"
            ]
        ]
    },
    {
        "id": "611d7bb2cb2c89f3",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "073bd379d194e673",
        "name": "",
        "x": 790,
        "y": 120,
        "wires": [
            [
                "2937d66a663fcf9b"
            ]
        ]
    },
    {
        "id": "2937d66a663fcf9b",
        "type": "function",
        "z": "073bd379d194e673",
        "name": "fnBuscarFolio",
        "func": "msg.topic = `select * from folios_est order by folio desc limit 1;`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 120,
        "wires": [
            [
                "23692f5e6f9e5e4d"
            ]
        ]
    },
    {
        "id": "23692f5e6f9e5e4d",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "073bd379d194e673",
        "name": "",
        "x": 1150,
        "y": 120,
        "wires": [
            [
                "3d9c9e361a163501"
            ]
        ]
    },
    {
        "id": "3d9c9e361a163501",
        "type": "function",
        "z": "073bd379d194e673",
        "name": "fnDeclaraVarGlobales",
        "func": "var numFolio = msg.payload && msg.payload[0] && msg.payload[0].folio;\nvar str_Fecha = msg.payload && msg.payload[0] && msg.payload[0].fecha_ingreso;\n\nglobal.set(\"gblnumFolio\",numFolio);\nglobal.set(\"gblfecha_ingreso\",str_Fecha);\n\n\nmsg.folio =  global.get(\"gblnumFolio\")\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 160,
        "wires": [
            [
                "df6eacb6b2fc7ccd"
            ]
        ]
    },
    {
        "id": "df6eacb6b2fc7ccd",
        "type": "function",
        "z": "073bd379d194e673",
        "name": "fnUnlockTable",
        "func": "msg.topic = `unlock tables;`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "e62272928ea7e94d"
            ]
        ]
    },
    {
        "id": "e62272928ea7e94d",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "073bd379d194e673",
        "name": "",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "188fe07cde4b6c8a"
            ]
        ]
    },
    {
        "id": "188fe07cde4b6c8a",
        "type": "subflow:812ebe6f38e1a602",
        "z": "073bd379d194e673",
        "name": "",
        "x": 780,
        "y": 160,
        "wires": [
            [
                "fb00459680193b18"
            ]
        ]
    },
    {
        "id": "fb00459680193b18",
        "type": "moment",
        "z": "073bd379d194e673",
        "name": "",
        "topic": "",
        "input": "gblfecha_ingreso",
        "inputType": "global",
        "inTz": "America/Mexico_city",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD-MMMM-YYYY HH:mm",
        "locale": "es",
        "output": "fechaIngreso",
        "outputType": "msg",
        "outTz": "America/Mexico_city",
        "x": 1000,
        "y": 160,
        "wires": [
            [
                "7ea795b3b160051a"
            ]
        ]
    },
    {
        "id": "7ea795b3b160051a",
        "type": "function",
        "z": "073bd379d194e673",
        "name": "fnCrearTicket_V1",
        "func": "var strFecha = msg.fechaIngreso;\n\nfunction generateCode128Command(data, barWidthMultiplier = 2) {\n    // Asegurarse de que el dato sea una cadena de texto\n    const dataString = String(data);\n\n    // Eliminar cualquier carácter de retorno de carro\n    const cleanedData = dataString.replace(/\\n/g, '');\n\n    // Verificar que el dato tenga 8 dígitos numéricos\n    if (/^\\d{8}$/.test(cleanedData)) {\n        // Comando para ajustar el ancho del código de barras\n        const setBarcodeWidthCommand = Buffer.from([0x1D, 0x77, barWidthMultiplier]);\n\n        // Comando para generar el código de barras Code 128\n        const code128Command = Buffer.concat([\n            Buffer.from([0x1D, 0x6B, 0x49, cleanedData.length + 2]),  // Longitud de cadena + 2 para el control de modo y el carácter de inicio\n            Buffer.from(\"\\x7B\\x42\" + cleanedData + \"\\x00\")  // Datos del código de barras + carácter de finalización\n        ]);\n\n        return Buffer.concat([setBarcodeWidthCommand, code128Command]);\n    } else {\n        console.error(\"Error: El código de barras debe tener 8 dígitos numéricos.\");\n        return null;\n    }\n}\n// Obtén el código de barras y el folio desde el mensaje\nvar strCodBar = msg.folio;\nvar z = String(strCodBar).padStart(8, '0');\nconst codigoDeBarras = z || \"DefaultCodigoDeBarras\"; // Utiliza un valor predeterminado si no se proporciona\nconst folio = msg.folio.folio || \"DefaultFolio\"; // Utiliza un valor predeterminado si no se proporciona\nconst barWidthMultiplier = 2; // Puedes ajustar según tus necesidades\n\n// Llama a la función para generar el comando Code 128\nconst code128Command = generateCode128Command(codigoDeBarras, barWidthMultiplier);\n\nif (code128Command !== null) {\n    msg.ticket = Buffer.concat([\n    Buffer.from([0x1B, 0x40]), // Inicializar la impresora\n\n    Buffer.from([0x1D, 0x57, 0x50]), // GS W n (50 es 80mm)\n\n    Buffer.from([0x1B, 0x21, 0x18]), // Ajustar tamaño de caracteres (11)\n    Buffer.from([0x1B, 0x45, 0x01]), // Negritas activadas\n    Buffer.from(global.get(\"gblstr_nombreEmp\")+\"\\n\\n\", 'latin1'),\n    Buffer.from(\"RFC: \"+global.get(\"gblstr_RFC\")+\"\\n\", 'latin1'),\n    Buffer.from(\"Dir: \"+global.get(\"gblstr_Direccion\")+\"\\n\", 'latin1'),\n    Buffer.from(\"Estacionamiento tipo B\\n\", 'latin1'),\n    Buffer.from([0x1B, 0x45, 0x00]), // Negritas desactivadas\n   \n    Buffer.from(\"-\".repeat(45), 'latin1'), // Linea recta\n    Buffer.from(\"\\n\", 'latin1'),\n\n    Buffer.from([0x1B, 0x21, 0x06]), // Ajustar tamaño de caracteres (8)\n        Buffer.from(\"Tarifa: \\n\", 'latin1'),\n        Buffer.from(\"- 22 pesos primera hora.\\n\", 'latin1'),\n        Buffer.from(\"- 3 pesos cada 15 minutos\\n\", 'latin1'),\n        Buffer.from(\"  o fracciones posteriores.\\n\", 'latin1'),\n        Buffer.from([0x1B, 0x21, 0x04]), // Ajustar tamaño de caracteres (05)\n    Buffer.from(\"-\".repeat(45), 'latin1'), // Linea recta\n    Buffer.from(\"\\n\", 'latin1'),\n   \n    Buffer.from([0x1B, 0x21, 0x06]), // Ajustar tamaño de caracteres (06)\n        Buffer.from(\"Horario: 24 horas al dia\\n\", 'latin1'),\n        Buffer.from(\"-\".repeat(45), 'latin1'), // Linea recta\n        \n    Buffer.from([0x1B, 0x21, 0x10]), // Ajustar tamaño de caracteres (10)\n    Buffer.from(\"\\n\", 'latin1'),\n        Buffer.from(\"Entrada: \" + strFecha + \"\\n\", 'ascii'),\n        Buffer.from(\"Folio: \" + z + \"\\n\\n\", 'ascii'),\n    \n    Buffer.from([0x1B, 0x61, 0x01]),\n    Buffer.from([0x1B, 0x21, 0x10]), // Ajustar tamaño de caracteres (10)\n        Buffer.from(\"FAVOR DE PAGAR ANTES DE SALIR\\n\\n\", 'ascii'),\n\n    Buffer.from([0x1B, 0x61, 0x01]),\n        code128Command,\n        Buffer.from(\"\\n\"),\n        \n    Buffer.from([0x1B, 0x21, 0x06]), // Ajustar tamaño de caracteres (06)\n        Buffer.from( z + \"\\n\", 'ascii'),\n\n    Buffer.from([0x1B, 0x21, 0x05]), // Ajustar tamaño de caracteres (05)\n    Buffer.from(\"-\".repeat(45), 'latin1'), // Linea recta\n    Buffer.from(\"\\n\", 'latin1'),\n\n    // Pie de página\n    Buffer.from([0x1B, 0x21, 0x08]), // Ajustar tamaño de caracteres (05)\n   \n    Buffer.from([0x1B, 0x64, 0x04]), // Avanzar 4 líneas antes de cortar (ajustado según necesidades)\n    Buffer.from([0x1D, 0x56, 0x01]), // Cortar papel\n    Buffer.from([0x1B, 0x40]) // Inicializar la impresora nuevamente\n]);\n    global.set(\"gblTicket\", msg.ticket)\nreturn msg;\n\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 160,
        "wires": [
            [
                "afa5d0f4dd7e7e9e"
            ]
        ]
    },
    {
        "id": "afa5d0f4dd7e7e9e",
        "type": "file",
        "z": "073bd379d194e673",
        "name": "Escribir en Archivo",
        "filename": "C:\\Users\\G-Angel\\Documents\\imprimeWS\\imprime.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "05fbd4fb7b11f379"
            ]
        ]
    },
    {
        "id": "05fbd4fb7b11f379",
        "type": "exec",
        "z": "073bd379d194e673",
        "command": "copy /B c:\\imprimeWS\\imprime.txt \\\\192.168.1.70\\EPSON",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "execImprime.bat",
        "x": 400,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b6517ce3e499bd42",
        "type": "function",
        "z": "073bd379d194e673",
        "name": "fnLockTable",
        "func": " msg.topic = \"lock table folios_est write;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 60,
        "wires": [
            [
                "650ea7edd08824aa"
            ]
        ]
    },
    {
        "id": "2b0aae63cc76dbdb",
        "type": "file",
        "z": "073bd379d194e673",
        "name": "Escribir en Archivo",
        "filename": "/home/taq/Documentos/imprimeTicket/imprime.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "8fd752dcea62e3af"
            ]
        ]
    },
    {
        "id": "8fd752dcea62e3af",
        "type": "exec",
        "z": "073bd379d194e673",
        "command": "lp /home/taq/Documentos/imprimeTicket/imprime.txt",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "execImprime.bat",
        "x": 400,
        "y": 400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0f9685610789580a",
        "type": "debug",
        "z": "fe730daf08c7129d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "d93cf265173d63a6",
        "type": "serial in",
        "z": "fe730daf08c7129d",
        "d": true,
        "name": "usb0",
        "serial": "47bdf02e71f35711",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "262d6fbe965a6591"
            ]
        ]
    },
    {
        "id": "340d39fb3e6a064c",
        "type": "function",
        "z": "fe730daf08c7129d",
        "name": "fnValueTAG",
        "func": "var tag ;\nif (msg.payload !==undefined ){\n    tag= msg.payload;\n}else{\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "262d6fbe965a6591",
        "type": "function",
        "z": "fe730daf08c7129d",
        "name": "DecodificarTAG",
        "func": "// Función para decodificar\nfunction decodifica(acces) {\n    let codigo = '';\n    let no_acces = '';\n    for (let ii = 5; ii <= 11; ii++) {\n        codigo = acces.charAt(ii);\n        no_acces += val_binario(codigo);\n    }\n    codigo = no_acces.substring(11, 27);\n    return val_decimal(codigo);\n}\n\n// Función para convertir a binario\nfunction val_binario(char_) {\n    let val_binario = '0000';\n    switch (char_) {\n        case '0':\n            val_binario = '0000';\n            break;\n        case '1':\n            val_binario = '0001';\n            break;\n        case '2':\n            val_binario = '0010';\n            break;\n        case '3':\n            val_binario = '0011';\n            break;\n        case '4':\n            val_binario = '0100';\n            break;\n        case '5':\n            val_binario = '0101';\n            break;\n        case '6':\n            val_binario = '0110';\n            break;\n        case '7':\n            val_binario = '0111';\n            break;\n        case '8':\n            val_binario = '1000';\n            break;\n        case '9':\n            val_binario = '1001';\n            break;\n        case 'A':\n            val_binario = '1010';\n            break;\n        case 'B':\n            val_binario = '1011';\n            break;\n        case 'C':\n            val_binario = '1100';\n            break;\n        case 'D':\n            val_binario = '1101';\n            break;\n        case 'E':\n            val_binario = '1110';\n            break;\n        case 'F':\n            val_binario = '1111';\n            break;\n    }\n    return val_binario;\n}\n\n// Función para convertir a decimal\nfunction val_decimal(que_val) {\n    let val_binario = 1;\n    let val_decimal = 0;\n    for (let ii = que_val.length - 1; ii >= 0; ii--) {\n        val_decimal += parseInt(que_val.charAt(ii)) * val_binario;\n        val_binario *= 2;\n    }\n    return val_decimal;\n}\n\n// Ejemplo de uso\nlet acces = msg.payload;\nlet resultado = decodifica(acces);\n\n// Envía el resultado a la consola de debug\nnode.send({ payload: resultado });",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "340d39fb3e6a064c"
            ]
        ]
    },
    {
        "id": "4798bc0c2f982089",
        "type": "comment",
        "z": "fe730daf08c7129d",
        "name": "Decodificar TAG",
        "info": "",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "c7a594d6f26ecb69",
        "type": "inject",
        "z": "fe730daf08c7129d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "262d6fbe965a6591"
            ]
        ]
    },
    {
        "id": "b65c0351488ac6d2",
        "type": "debug",
        "z": "f369f98bb972f6f5",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "58da39f7e6fb6849",
        "type": "function",
        "z": "f369f98bb972f6f5",
        "name": "fnValidaLoop1",
        "func": "if (msg.payload === 1) {\n    \n    global.set(\"gblBoton\", 1);\n} else {\n    \n    global.set(\"gblBoton\", 0);\n}\nmsg.payload= global.get(\"gblBoton\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "b65c0351488ac6d2"
            ]
        ]
    },
    {
        "id": "56a5f85558b1d4fd",
        "type": "function",
        "z": "f369f98bb972f6f5",
        "name": "fnValidaLoop2",
        "func": "var loop1 = global.get(\"gblLoop1\");\nvar loop2 = global.get(\"gblLoop2\");\nvar boton = global.get(\"gblBoton\");\nvar pluma = global.get(\"gblPluma\");\nvar enProceso = global.get(\"gblenProceso\");\nvar btnText; \n\n      if (boton==0){\n            btnText = \"Boton On\";\n      }else{\n            btnText = \"Boton Off\";\n      };\n\n      if (msg.payload != undefined) {\n            msg.loop1= loop1;\n            msg.loop2= loop2;\n            msg.boton= btnText;\n            msg.pluma = pluma;\n            msg.proceso= enProceso;\n            \n      } else {\n            msg.loop1= \"Error\";\n            msg.loop2= \"Error\";\n            msg.boton=\"Error\";\n            msg.pluma = \"Error\";\n      };\n  return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "2f15e8c2ccf2f7fc",
                "c26c5b7edc172f6e",
                "510f5005f6909665",
                "1e3e255c23491cfa",
                "69a81c9f917050b8"
            ]
        ]
    },
    {
        "id": "dcc908ededf5cd6e",
        "type": "inject",
        "z": "f369f98bb972f6f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "56a5f85558b1d4fd"
            ]
        ]
    },
    {
        "id": "2f15e8c2ccf2f7fc",
        "type": "ui_text",
        "z": "f369f98bb972f6f5",
        "group": "1fe47a37cbc99420",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "loop1",
        "label": "LOOP1: ",
        "format": "{{msg.loop1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "c26c5b7edc172f6e",
        "type": "ui_text",
        "z": "f369f98bb972f6f5",
        "group": "1fe47a37cbc99420",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "LOOP2",
        "label": "LOOP2: ",
        "format": "{{msg.loop2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "510f5005f6909665",
        "type": "ui_text",
        "z": "f369f98bb972f6f5",
        "group": "1fe47a37cbc99420",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "BOTON0",
        "label": "ACTIVA BOTON : ",
        "format": "{{msg.boton}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "1e3e255c23491cfa",
        "type": "ui_text",
        "z": "f369f98bb972f6f5",
        "group": "1fe47a37cbc99420",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Pluma",
        "label": "Estado de la Pluma: ",
        "format": "{{msg.pluma}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "c53f5f18ddcf8d68",
        "type": "ui_switch",
        "z": "f369f98bb972f6f5",
        "name": "",
        "label": "Loop1",
        "tooltip": "",
        "group": "1fe47a37cbc99420",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "loop1",
        "topicType": "msg",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "bafadf8e7a8eafe8"
            ]
        ],
        "icon": "font-awesome/fa-envelope-square"
    },
    {
        "id": "bafadf8e7a8eafe8",
        "type": "function",
        "z": "f369f98bb972f6f5",
        "name": "fnValidaLoop1",
        "func": "var loop1;\nif(msg.payload== 0){\n  loop1=0;\n  global.set(\"gblLoop1\",loop1)\n  msg.payload = \"LOOP1 \"+ global.get(\"gblLoop1\");\n}else{\n  loop1=1;\n  global.set(\"gblLoop1\",loop1)\n  msg.payload = \"LOOP1 \" + global.get(\"gblLoop1\");\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "69c443050518519c",
        "type": "function",
        "z": "f369f98bb972f6f5",
        "name": "fnValidaBotonActivado",
        "func": "var loop2;\nif(msg.payload== 0){\n  loop2=0;\n  global.set(\"gblLoop2\",loop2)\n  msg.payload = \"LOOP2 Desactivado \"+ global.get(\"gblLoop2\");\n}else{\n  loop2=1;\n  global.set(\"gblLoop2\",loop2)\n  msg.payload = \"LOOP2 Activado \" + global.get(\"gblLoop2\");\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7012e41670f9572a",
        "type": "ui_switch",
        "z": "f369f98bb972f6f5",
        "name": "",
        "label": "Loop2",
        "tooltip": "",
        "group": "1fe47a37cbc99420",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "loop1",
        "topicType": "msg",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "69c443050518519c"
            ]
        ],
        "icon": "node-red/arduino.svg"
    },
    {
        "id": "69a81c9f917050b8",
        "type": "ui_text",
        "z": "f369f98bb972f6f5",
        "group": "1fe47a37cbc99420",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Proceso Ejecucion",
        "label": "Estado del Proceso: ",
        "format": "{{msg.proceso}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "5481d599838068a4",
        "type": "inject",
        "z": "f369f98bb972f6f5",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Parking TAQ",
        "payload": "Ya a Comerciales!!!!",
        "payloadType": "str",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "bdffcdddd141167f"
            ]
        ]
    },
    {
        "id": "bc056ff9cd43228c",
        "type": "rpi-gpio in",
        "z": "f369f98bb972f6f5",
        "d": true,
        "name": "BotonActivar",
        "pin": "19",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "58da39f7e6fb6849"
            ]
        ]
    },
    {
        "id": "d95ebb920871fb88",
        "type": "inject",
        "z": "f369f98bb972f6f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "09b8d28f421e4bba",
        "type": "ui_switch",
        "z": "f369f98bb972f6f5",
        "name": "",
        "label": "Boton E",
        "tooltip": "",
        "group": "1fe47a37cbc99420",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "58da39f7e6fb6849"
            ]
        ]
    },
    {
        "id": "bdffcdddd141167f",
        "type": "e-mail",
        "z": "f369f98bb972f6f5",
        "d": true,
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "g.angel@taqro.com.mx",
        "dname": "correo",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "2a6bacecb6177f9b",
        "type": "switch",
        "z": "0af03d4e31f2356a",
        "name": "Switch Casos",
        "property": "payload1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "caso 1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "caso 2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "caso 3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "caso 4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "caso 5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "caso Cancelar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "46c599a594d51742"
            ],
            [
                "170ce437f56480b0"
            ],
            [
                "b9dc12eab4950195"
            ],
            [
                "3b87ccca8b6a24a0"
            ],
            [
                "85496a170048949d"
            ],
            [
                "92dacd786a20fc8c"
            ]
        ]
    },
    {
        "id": "cf2b3ecdb944c7eb",
        "type": "link in",
        "z": "0af03d4e31f2356a",
        "name": "enlaceSwitchCase-In",
        "links": [
            "41f60769fbc48969",
            "82b902f3984d2d1c",
            "4cdfc13266c0d2d3",
            "dcdd0583554f04fd",
            "615a2757a973a4c7",
            "83052fd32b6d80d3",
            "b78f4410f14cb362",
            "fda454041169f3b1",
            "780010030e56dc23",
            "6f57e12a200c28dd",
            "e2a08127b8cb4b19",
            "dadef26cfee4580d",
            "a8e0e9f4f5c3fb1f",
            "52a201e37df2898c",
            "5162b2bad8b9e1bb",
            "0cf3b4b1c7b47102",
            "9c04ade1e514b7c9",
            "4fcfa5498ffc3e4a"
        ],
        "x": 75,
        "y": 380,
        "wires": [
            [
                "06d6c6ed95abae23"
            ]
        ]
    },
    {
        "id": "4cdfc13266c0d2d3",
        "type": "link out",
        "z": "0af03d4e31f2356a",
        "name": "enlaceCaso1-Out",
        "mode": "link",
        "links": [
            "cf2b3ecdb944c7eb",
            "4c9b7e64254da9ef",
            "d21aeeaa044918b7",
            "9537f5d6b1b1b458",
            "4e3231ac15169b23",
            "0a9f8464f964ca79",
            "e21e944b7d42f179",
            "3f632ec229bd99da",
            "5175df50557cd787"
        ],
        "x": 715,
        "y": 140,
        "wires": []
    },
    {
        "id": "93c1182d7f70f77e",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "caso 3_Valida_8seg",
        "func": "\nvar loop2 = global.get(\"gblLoop2\");\nvar blProcess = global.get(\"gblenProceso\");\n\nvar loop2ActivationTime = flow.get('loop2ActivationTime') || 0;\n\n// Verificar si loop2 se leyó dentro del rango de 8 segundos\n//if (loop2 === 1 && Date.now() - loop2ActivationTime < 8000) {\n  //msg.payload1 = \"caso 4\";\n//} else {\n  //msg.payload1 = \"caso Cancelar\";\n//}\n\n  if (loop2== 1 && blProcess==true){\n      msg.payload1 = \"caso 4\"\n  }else{\n      msg.payload1 = \"caso Cancelar\"\n  };\n\nmsg.payload= true;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "41f60769fbc48969"
            ]
        ]
    },
    {
        "id": "06d6c6ed95abae23",
        "type": "delay",
        "z": "0af03d4e31f2356a",
        "name": "1",
        "pauseType": "queue",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "2a6bacecb6177f9b"
            ]
        ]
    },
    {
        "id": "615a2757a973a4c7",
        "type": "link out",
        "z": "0af03d4e31f2356a",
        "name": "enlaceCaso2-Out",
        "mode": "link",
        "links": [
            "cf2b3ecdb944c7eb",
            "4c9b7e64254da9ef",
            "87bccadc8b37de69",
            "9e09e19e605e9829",
            "9537f5d6b1b1b458",
            "0607dabb6493744a",
            "45c8d5bc3c82235b",
            "0a9f8464f964ca79",
            "e21e944b7d42f179",
            "3f632ec229bd99da",
            "5175df50557cd787"
        ],
        "x": 715,
        "y": 200,
        "wires": []
    },
    {
        "id": "82b902f3984d2d1c",
        "type": "link out",
        "z": "0af03d4e31f2356a",
        "name": "enlaceCaso5-Out",
        "mode": "link",
        "links": [
            "cf2b3ecdb944c7eb",
            "4c9b7e64254da9ef",
            "dcaa0a58f5894b67",
            "9537f5d6b1b1b458",
            "cb516b519c1a1f05",
            "0a9f8464f964ca79",
            "e21e944b7d42f179",
            "3f632ec229bd99da",
            "57fdd6a78f2d4823",
            "5175df50557cd787"
        ],
        "x": 695,
        "y": 440,
        "wires": []
    },
    {
        "id": "41f60769fbc48969",
        "type": "link out",
        "z": "0af03d4e31f2356a",
        "name": "enlaceCaso3-Out",
        "mode": "link",
        "links": [
            "cf2b3ecdb944c7eb",
            "4c9b7e64254da9ef",
            "d0f5ef24302e21ab",
            "9537f5d6b1b1b458",
            "9f5b5e6d95297aa9",
            "0a9f8464f964ca79",
            "e21e944b7d42f179",
            "3f632ec229bd99da",
            "5175df50557cd787"
        ],
        "x": 705,
        "y": 300,
        "wires": []
    },
    {
        "id": "dcdd0583554f04fd",
        "type": "link out",
        "z": "0af03d4e31f2356a",
        "name": "enlaceCaso4-Out",
        "mode": "link",
        "links": [
            "cf2b3ecdb944c7eb",
            "4c9b7e64254da9ef",
            "c6f7b252ccae96c9",
            "9537f5d6b1b1b458",
            "a480f4f7811b7c8a",
            "0a9f8464f964ca79",
            "e21e944b7d42f179",
            "3f632ec229bd99da",
            "5175df50557cd787"
        ],
        "x": 695,
        "y": 380,
        "wires": []
    },
    {
        "id": "b9dc12eab4950195",
        "type": "delay",
        "z": "0af03d4e31f2356a",
        "name": "8s",
        "pauseType": "delayv",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "93c1182d7f70f77e"
            ]
        ]
    },
    {
        "id": "92dacd786a20fc8c",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "caso Cancelar",
        "func": "var enProceso = false;\n\nglobal.set(\"gblenProceso\",enProceso);\nmsg.ticket= \"Ticket Cancelado\";\nmsg.payload1 = \"caso 5\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 560,
        "wires": [
            [
                "83052fd32b6d80d3"
            ]
        ]
    },
    {
        "id": "83052fd32b6d80d3",
        "type": "link out",
        "z": "0af03d4e31f2356a",
        "name": "enlaceCasoCancelar-Out",
        "mode": "link",
        "links": [
            "4c9b7e64254da9ef",
            "cf2b3ecdb944c7eb",
            "9537f5d6b1b1b458",
            "0a9f8464f964ca79",
            "e21e944b7d42f179",
            "3f632ec229bd99da",
            "57fdd6a78f2d4823",
            "5175df50557cd787"
        ],
        "x": 695,
        "y": 560,
        "wires": []
    },
    {
        "id": "ce79501f9c0d0cbd",
        "type": "ui_text",
        "z": "0af03d4e31f2356a",
        "group": "20612df8fb62aba8",
        "order": 5,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "TICKET",
        "format": "{{msg.ticket}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "dcdd0008e9d2dece",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "fnMuestraPantallaTicket",
        "func": "var imprime = global.get(\"gblTicket\");\nmsg.ticket= imprime;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "df54a257080543df",
                "8ecedced6f934409"
            ]
        ]
    },
    {
        "id": "9b9112bb10c4a8f9",
        "type": "subflow:073bd379d194e673",
        "z": "0af03d4e31f2356a",
        "name": "",
        "x": 820,
        "y": 240,
        "wires": [
            [
                "dcdd0008e9d2dece"
            ]
        ]
    },
    {
        "id": "37f7ed85d401de1f",
        "type": "inject",
        "z": "0af03d4e31f2356a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 140,
        "wires": [
            [
                "74d02bd0e709a99e"
            ]
        ]
    },
    {
        "id": "74d02bd0e709a99e",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "function 40",
        "func": "var enProceso;\n\nenProceso= false;\nglobal.set(\"gblenProceso\",enProceso);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "81c0563a664c91e3",
        "type": "ui_text",
        "z": "0af03d4e31f2356a",
        "group": "20612df8fb62aba8",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Estado del Caso",
        "format": "{{msg.payload1}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "26",
        "color": "#0670c1",
        "x": 1300,
        "y": 380,
        "wires": []
    },
    {
        "id": "9537f5d6b1b1b458",
        "type": "link in",
        "z": "0af03d4e31f2356a",
        "name": "CasoLInk_In",
        "links": [
            "7db7f9fb70568ad9",
            "d367d7863885f6a4",
            "0385b80a9412d6cc",
            "ba72324ee5a41763",
            "2443d55459fabdee",
            "91d72ab3190ab1f7",
            "fe19a6c5b00fe4b8",
            "34e5d503c22c0e31",
            "9ca3b9eefd089ae8",
            "4c6f98d8516f362a",
            "ec94d3ddfaecd56e",
            "45cd3bc59afbe20e",
            "4aae1a9e6685d45b",
            "934376c363c717d6",
            "a13e2df9621d3492",
            "b95c969609504701",
            "e5052ce85bfc9b77",
            "ce85e71ee99bcfe8",
            "57c7eff8e5e6c16a",
            "4cdfc13266c0d2d3",
            "615a2757a973a4c7",
            "82b902f3984d2d1c",
            "41f60769fbc48969",
            "dcdd0583554f04fd",
            "83052fd32b6d80d3",
            "a96dd489bfaf6c56"
        ],
        "x": 1155,
        "y": 380,
        "wires": [
            [
                "81c0563a664c91e3"
            ]
        ]
    },
    {
        "id": "d31de3d6b1af26aa",
        "type": "ui_led",
        "z": "0af03d4e31f2356a",
        "order": 0,
        "group": "931188c4fcf02977",
        "width": 0,
        "height": 0,
        "label": "Caso 1: Valida Loop1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Caso 1",
        "x": 1280,
        "y": 560,
        "wires": []
    },
    {
        "id": "7d9895b3cf05d2ba",
        "type": "ui_led",
        "z": "0af03d4e31f2356a",
        "order": 0,
        "group": "931188c4fcf02977",
        "width": 0,
        "height": 0,
        "label": "Caso 2: Imprimir",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Caso 2",
        "x": 1280,
        "y": 600,
        "wires": []
    },
    {
        "id": "876691e542a3f0ce",
        "type": "ui_led",
        "z": "0af03d4e31f2356a",
        "order": 0,
        "group": "931188c4fcf02977",
        "width": 0,
        "height": 0,
        "label": "Caso 3: Valida 8 seg",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Caso 3",
        "x": 1280,
        "y": 640,
        "wires": []
    },
    {
        "id": "553f4fa25d159c4c",
        "type": "ui_led",
        "z": "0af03d4e31f2356a",
        "order": 0,
        "group": "931188c4fcf02977",
        "width": 0,
        "height": 0,
        "label": "Caso 4: Valida Loop2 y bajar Pluma",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Caso 4",
        "x": 1280,
        "y": 680,
        "wires": []
    },
    {
        "id": "af1524f86af9a815",
        "type": "ui_led",
        "z": "0af03d4e31f2356a",
        "order": 0,
        "group": "931188c4fcf02977",
        "width": 0,
        "height": 0,
        "label": "Caso 5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Caso 5",
        "x": 1280,
        "y": 720,
        "wires": []
    },
    {
        "id": "0f545c3ed0b5afcc",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "fnApagaLED",
        "func": "msg.payload=flow.get(\"apagarLed\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 540,
        "wires": [
            [
                "c1d4c547aa5fb1a0",
                "a96dd489bfaf6c56",
                "af1524f86af9a815",
                "553f4fa25d159c4c",
                "7d9895b3cf05d2ba",
                "876691e542a3f0ce",
                "d31de3d6b1af26aa",
                "70ccdc3260f828ad"
            ]
        ]
    },
    {
        "id": "c1d4c547aa5fb1a0",
        "type": "debug",
        "z": "0af03d4e31f2356a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "a96dd489bfaf6c56",
        "type": "link out",
        "z": "0af03d4e31f2356a",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "4c9b7e64254da9ef",
            "9537f5d6b1b1b458"
        ],
        "x": 1155,
        "y": 420,
        "wires": []
    },
    {
        "id": "4e3231ac15169b23",
        "type": "link in",
        "z": "0af03d4e31f2356a",
        "name": "link_LED1",
        "links": [
            "7db7f9fb70568ad9",
            "34e5d503c22c0e31",
            "934376c363c717d6",
            "4cdfc13266c0d2d3"
        ],
        "x": 1155,
        "y": 560,
        "wires": [
            [
                "d31de3d6b1af26aa"
            ]
        ]
    },
    {
        "id": "a480f4f7811b7c8a",
        "type": "link in",
        "z": "0af03d4e31f2356a",
        "name": "link_LED4",
        "links": [
            "ba72324ee5a41763",
            "45cd3bc59afbe20e",
            "ce85e71ee99bcfe8",
            "dcdd0583554f04fd"
        ],
        "x": 1155,
        "y": 680,
        "wires": [
            [
                "553f4fa25d159c4c"
            ]
        ]
    },
    {
        "id": "9f5b5e6d95297aa9",
        "type": "link in",
        "z": "0af03d4e31f2356a",
        "name": "link_LED3",
        "links": [
            "0385b80a9412d6cc",
            "ec94d3ddfaecd56e",
            "e5052ce85bfc9b77",
            "41f60769fbc48969"
        ],
        "x": 1155,
        "y": 640,
        "wires": [
            [
                "876691e542a3f0ce"
            ]
        ]
    },
    {
        "id": "0607dabb6493744a",
        "type": "link in",
        "z": "0af03d4e31f2356a",
        "name": "link_LED2",
        "links": [
            "d367d7863885f6a4",
            "9ca3b9eefd089ae8",
            "a13e2df9621d3492",
            "615a2757a973a4c7"
        ],
        "x": 1155,
        "y": 600,
        "wires": [
            [
                "7d9895b3cf05d2ba"
            ]
        ]
    },
    {
        "id": "cb516b519c1a1f05",
        "type": "link in",
        "z": "0af03d4e31f2356a",
        "name": "link_LED5",
        "links": [
            "2443d55459fabdee",
            "4c6f98d8516f362a",
            "b95c969609504701",
            "82b902f3984d2d1c"
        ],
        "x": 1155,
        "y": 720,
        "wires": [
            [
                "af1524f86af9a815"
            ]
        ]
    },
    {
        "id": "c65e9d9f879f51a8",
        "type": "ui_gauge",
        "z": "0af03d4e31f2356a",
        "name": "Pluma",
        "group": "20612df8fb62aba8",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pluma",
        "label": "units",
        "format": "{{pluma}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 520,
        "wires": []
    },
    {
        "id": "70ccdc3260f828ad",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "fnPluma",
        "func": "msg.pluma = 10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 460,
        "wires": [
            [
                "c65e9d9f879f51a8"
            ]
        ]
    },
    {
        "id": "45c8d5bc3c82235b",
        "type": "link in",
        "z": "0af03d4e31f2356a",
        "name": "link_Pluma",
        "links": [
            "d367d7863885f6a4",
            "9ca3b9eefd089ae8",
            "a13e2df9621d3492",
            "615a2757a973a4c7"
        ],
        "x": 1155,
        "y": 520,
        "wires": [
            [
                "c65e9d9f879f51a8"
            ]
        ]
    },
    {
        "id": "6d53f15c74a93150",
        "type": "switch",
        "z": "0af03d4e31f2356a",
        "name": "Casos Imprimir-Leer",
        "property": "caso2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "imprimir",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TAG",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1268ed43e6959aa2",
        "type": "debug",
        "z": "0af03d4e31f2356a",
        "name": "debug 49",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload1",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "e685a6e1f5e026a9",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "d": true,
        "name": "fnActivaBtn-E",
        "func": "var enProceso = global.get(\"gblenProceso\");\nvar boton = global.get(\"gblBoton\");\n\n// Verifica si ya hay un proceso en curso\nif (enProceso) {\n    // Ignora el nuevo evento de botón si ya hay un proceso en curso\n    return null;\n}\n\n// Inicia el proceso solo si no hay un proceso en curso\nif (msg.payload == 1) {\n    var boton0 = 1;\n    global.set(\"gblBoton\", boton0);\n    msg.payload1 = \"caso 5\";\n    } else {\n    var boton0 = 0;\n    global.set(\"gblBoton\", boton0);\n    msg.payload1 = \"caso 1\";\n    global.set(\"gblenProceso\", true);\n}\n\n// Marca que hay un proceso en curso\n//global.set(\"gblenProceso\", true);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a5bf4926308ba54e",
        "type": "inject",
        "z": "0af03d4e31f2356a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": ".5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "7d0b13d010a471ba"
            ]
        ]
    },
    {
        "id": "53e9b6de7f79ef77",
        "type": "inject",
        "z": "0af03d4e31f2356a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "92dacd786a20fc8c"
            ]
        ]
    },
    {
        "id": "17b119fc8cc1394e",
        "type": "delay",
        "z": "0af03d4e31f2356a",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 480,
        "wires": [
            [
                "0f545c3ed0b5afcc"
            ]
        ]
    },
    {
        "id": "7d5811e541151eda",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "fnCaso1_Valida_Imprimir",
        "func": "var loop2 = global.get(\"gblLoop2\") || 0;\nvar loop1 = global.get(\"gblLoop1\") || 0;\nvar boton = global.get(\"gblBoton\") || 0;\n\n\n  if (msg.payload1==\"caso 1\"){\n\n    if (loop1== 1 && loop2== 0 ){\n        msg.payload1 = \"caso 2\";\n        global.set(\"gblenProceso\", true);\n\n    } else if(loop2== 1){\n        msg.payload1 = \"caso 4\";\n    \n    }else if(loop1== 1 && boton==1  ){\n        msg.payload1 = \"caso 5\";\n    };\n    \n  }else{\n    msg.payload1 = \"caso 5\";\n  };\n  \n\n\nmsg.payload= true;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "170ce437f56480b0",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "fnCaso2_Valida_Inicio",
        "func": "var enProceso = global.get(\"gblenProceso\");\n\n  if (enProceso == true){\n      msg.pluma = 5;\n      msg.payload= false;\n      msg.payload= true;\n      msg.payload1 = \"caso 3\";\n  }else{\n      msg.payload1=\"caso 4\";\n  };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "5afba55ba3a54e89",
                "9b9112bb10c4a8f9"
            ]
        ]
    },
    {
        "id": "7d0b13d010a471ba",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "function 41",
        "func": "\nvar enProceso = global.get(\"gblenProceso\");\nvar boton = global.get(\"gblBoton\");\n\n// Verifica si ya hay un proceso en curso\nif (enProceso) {\n    // Ignora el nuevo evento de botón si ya hay un proceso en curso\n    return null;\n}\n\n// Inicia el proceso solo si no hay un proceso en curso\n    if (boton == 1) {\n        var boton0 = 1;\n        msg.payload1=\"caso fin\";\n        global.set(\"gblBoton\", boton0);\n        global.set(\"gblenProceso\", false);\n        \n\n    } else {\n        var boton0 = 0;\n        msg.payload1 = \"caso 1\";\n        global.set(\"gblBoton\", boton0);\n       // global.set(\"gblenProceso\", true);\n    };\n\n// Marca que hay un proceso en curso\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 180,
        "wires": [
            [
                "2a6bacecb6177f9b",
                "1268ed43e6959aa2"
            ]
        ]
    },
    {
        "id": "85496a170048949d",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "fnCaso5_Fin",
        "func": "var apagarLed;\n\nflow.set(\"apagarLed\",false);\nglobal.set(\"gblenProceso\",false);\nmsg.payload1 = \"caso fin\";\nmsg.ticket= \"Termina Proceso\";\nmsg.payload= true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "82b902f3984d2d1c",
                "17b119fc8cc1394e"
            ]
        ]
    },
    {
        "id": "3b87ccca8b6a24a0",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "fnCaso4_ValidaTiempo-Pluma",
        "func": "var loop2 = global.get(\"gblLoop2\");\nvar loop2ActivationTime = flow.get('loop2ActivationTime') || 0;\n\nif (loop2== 1){\n\n// Verificar si loop2 se leyó dentro del rango de 8 segundos\n//if (loop2 === 1 && Date.now() - loop2ActivationTime < 8000) {\n    msg.payload1 = \"caso 4\"\n}else{\n  msg.payload1 = \"caso 5\"\n}\n\nmsg.payload= true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "dcdd0583554f04fd"
            ]
        ]
    },
    {
        "id": "46c599a594d51742",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "function 42",
        "func": "var loop1 = global.get(\"gblLoop1\") || 0;\nvar loop2 = global.get(\"gblLoop2\") || 0;\nvar boton = global.get(\"gblBoton\") || 0;\nvar enProceso = global.get(\"gblenProceso\");\n\n// Verificar si hay un auto en loop1, no se ha oprimido el botón, no hay otro proceso en curso y loop2 no es igual a 1\nif (loop1 == 1 && boton == 0 && !enProceso && loop2 != 1) {\n    // Iniciar el proceso si no hay otro en curso y loop2 no es igual a 1\n    enProceso = true;\n    global.set(\"gblenProceso\", enProceso);\n    msg.payload1 = \"caso 2\"; // Iniciar el proceso\n} else if (enProceso && loop2 == 1) {\n    // Verificar si el auto ha pasado el loop2\n    msg.payload1 = \"caso 3\"; // El auto ha pasado la barrera\n} else if (enProceso && loop1 == 0) {\n    // Verificar si el auto ha salido de loop1 antes de pasar por loop2\n    msg.payload1 = \"caso Cancelar\"; // Cancelar el proceso\n    enProceso = false;\n    global.set(\"gblenProceso\", enProceso);\n}\nmsg.payload=true;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [
            [
                "4cdfc13266c0d2d3"
            ]
        ]
    },
    {
        "id": "57fdd6a78f2d4823",
        "type": "link in",
        "z": "0af03d4e31f2356a",
        "name": "link in 2",
        "links": [
            "8ecedced6f934409",
            "83052fd32b6d80d3",
            "82b902f3984d2d1c"
        ],
        "x": 1155,
        "y": 340,
        "wires": [
            [
                "ce79501f9c0d0cbd"
            ]
        ]
    },
    {
        "id": "8ecedced6f934409",
        "type": "link out",
        "z": "0af03d4e31f2356a",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "57fdd6a78f2d4823"
        ],
        "x": 1375,
        "y": 240,
        "wires": []
    },
    {
        "id": "5afba55ba3a54e89",
        "type": "delay",
        "z": "0af03d4e31f2356a",
        "name": "3s",
        "pauseType": "delayv",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "615a2757a973a4c7"
            ]
        ]
    },
    {
        "id": "d8089815f9078541",
        "type": "function",
        "z": "0af03d4e31f2356a",
        "name": "function 43",
        "func": "// Inicializar la variable global\nglobal.set(\"gblBoton\", 1);\nglobal.set(\"gblLoop1\", 1);\nglobal.set(\"gblLoop2\", 1);\nglobal.set(\"gblenProceso\", false);\n\n// Continuar con el flujo\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 60,
        "wires": [
            [
                "7d0b13d010a471ba"
            ]
        ]
    },
    {
        "id": "df54a257080543df",
        "type": "debug",
        "z": "0af03d4e31f2356a",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ticket",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 180,
        "wires": []
    },
    {
        "id": "c518cd3d.b6f2e8",
        "type": "inject",
        "z": "a74a8b3a13ece5db",
        "name": "Loop1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "c28d3ef2.d1a3e"
            ]
        ]
    },
    {
        "id": "c28d3ef2.d1a3e",
        "type": "delay",
        "z": "a74a8b3a13ece5db",
        "name": "Esperar 8 segundos",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "41f636cd.d779e4"
            ]
        ]
    },
    {
        "id": "41f636cd.d779e4",
        "type": "switch",
        "z": "a74a8b3a13ece5db",
        "name": "Loop2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "d5f85da2.c25328"
            ]
        ]
    },
    {
        "id": "d5f85da2.c25328",
        "type": "function",
        "z": "a74a8b3a13ece5db",
        "name": "Tomar Lectura",
        "func": "var valorAleatorio = Math.floor(Math.random() * 2) === 0;\nmsg.payload = valorAleatorio;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 120,
        "wires": [
            [
                "c2eb32e7.3071e8"
            ]
        ]
    },
    {
        "id": "c2eb32e7.3071e8",
        "type": "debug",
        "z": "a74a8b3a13ece5db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "47122c35.9c5f84",
        "type": "inject",
        "z": "a74a8b3a13ece5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "Test",
        "payload": "status",
        "payloadType": "str",
        "x": 283.5,
        "y": 290,
        "wires": [
            [
                "8f31665a.668f48"
            ]
        ]
    },
    {
        "id": "2e628a77.cc2d76",
        "type": "debug",
        "z": "a74a8b3a13ece5db",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 735.5,
        "y": 320,
        "wires": []
    },
    {
        "id": "de2b47a8.eb6b08",
        "type": "inject",
        "z": "a74a8b3a13ece5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "Test",
        "payload": "events",
        "payloadType": "str",
        "x": 276.5,
        "y": 328,
        "wires": [
            [
                "8f31665a.668f48"
            ]
        ]
    },
    {
        "id": "70fc817d.84b88",
        "type": "inject",
        "z": "a74a8b3a13ece5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "Test",
        "payload": "statusJson",
        "payloadType": "str",
        "x": 270.5,
        "y": 364,
        "wires": [
            [
                "8f31665a.668f48"
            ]
        ]
    },
    {
        "id": "8f31665a.668f48",
        "type": "apcrequest",
        "z": "a74a8b3a13ece5db",
        "d": true,
        "name": "apc",
        "server": "",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "2e628a77.cc2d76"
            ]
        ]
    },
    {
        "id": "054ce465507e0b73",
        "type": "debug",
        "z": "f529c53e9a5aba38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "1a2b3c4d5e6f",
        "type": "serial in",
        "z": "f529c53e9a5aba38",
        "d": true,
        "name": "usb0",
        "serial": "47bdf02e71f35711",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "f320a7ae9bab2e47",
                "e232b2465873a5ca",
                "3a4b5c6d7e8f"
            ]
        ]
    },
    {
        "id": "a271f512cffc7fad",
        "type": "function",
        "z": "f529c53e9a5aba38",
        "name": "fnQuery",
        "func": "var tag ;\nif (msg.payload !==undefined ){\n    tag= msg.payload;\n     msg.topic=`insert into reg_tags (num_tag,fecha,tipo) values('${tag}',now(),'TAG');`;\n}else{\n     msg.payload=\"Error de Guardado\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 220,
        "wires": [
            [
                "028f74a0e58df18d"
            ]
        ]
    },
    {
        "id": "028f74a0e58df18d",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "f529c53e9a5aba38",
        "d": true,
        "name": "",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "054ce465507e0b73",
                "91c735829c759adf"
            ]
        ]
    },
    {
        "id": "f320a7ae9bab2e47",
        "type": "function",
        "z": "f529c53e9a5aba38",
        "name": "Decodificar",
        "func": "// Función para decodificar\nfunction decodifica(acces) {\n    let codigo = '';\n    let no_acces = '';\n    for (let ii = 5; ii <= 11; ii++) {\n        codigo = acces.charAt(ii);\n        no_acces += val_binario(codigo);\n    }\n    codigo = no_acces.substring(11, 27);\n    return val_decimal(codigo);\n}\n\n// Función para convertir a binario\nfunction val_binario(char_) {\n    let val_binario = '0000';\n    switch (char_) {\n        case '0':\n            val_binario = '0000';\n            break;\n        case '1':\n            val_binario = '0001';\n            break;\n        case '2':\n            val_binario = '0010';\n            break;\n        case '3':\n            val_binario = '0011';\n            break;\n        case '4':\n            val_binario = '0100';\n            break;\n        case '5':\n            val_binario = '0101';\n            break;\n        case '6':\n            val_binario = '0110';\n            break;\n        case '7':\n            val_binario = '0111';\n            break;\n        case '8':\n            val_binario = '1000';\n            break;\n        case '9':\n            val_binario = '1001';\n            break;\n        case 'A':\n            val_binario = '1010';\n            break;\n        case 'B':\n            val_binario = '1011';\n            break;\n        case 'C':\n            val_binario = '1100';\n            break;\n        case 'D':\n            val_binario = '1101';\n            break;\n        case 'E':\n            val_binario = '1110';\n            break;\n        case 'F':\n            val_binario = '1111';\n            break;\n    }\n    return val_binario;\n}\n\n// Función para convertir a decimal\nfunction val_decimal(que_val) {\n    let val_binario = 1;\n    let val_decimal = 0;\n    for (let ii = que_val.length - 1; ii >= 0; ii--) {\n        val_decimal += parseInt(que_val.charAt(ii)) * val_binario;\n        val_binario *= 2;\n    }\n    return val_decimal;\n}\n\n// Ejemplo de uso\nlet acces = msg.payload;\nlet resultado = decodifica(acces);\n\n// Envía el resultado a la consola de debug\nnode.send({ payload: resultado });",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "a271f512cffc7fad"
            ]
        ]
    },
    {
        "id": "3a4b5c6d7e8f",
        "type": "debug",
        "z": "f529c53e9a5aba38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "e232b2465873a5ca",
        "type": "ui_text",
        "z": "f529c53e9a5aba38",
        "group": "8135167c221b806c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Numero de Tag:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "f59cd5b2ab06f590",
        "type": "ui_text",
        "z": "f529c53e9a5aba38",
        "group": "25b503f9b6a954f4",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Codigo de Barras:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "2d8b4c29f6cfe335",
        "type": "serial in",
        "z": "f529c53e9a5aba38",
        "d": true,
        "name": "USB0",
        "serial": "47dc53baf2c4b5e4",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "f59cd5b2ab06f590",
                "a15be76272800b46",
                "70cb46d153314cb5"
            ]
        ]
    },
    {
        "id": "a15be76272800b46",
        "type": "function",
        "z": "f529c53e9a5aba38",
        "name": "fnQuery",
        "func": "var tag ;\nif (msg.payload !==undefined ){\n    tag= msg.payload;\n     msg.topic=`insert into reg_tags (num_tag,fecha,tipo) values('${tag}',now(),'CODIGO_BARRAS');`;\n}else{\n     msg.payload=\"Error de Guardado\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "7bda4ac316532683"
            ]
        ]
    },
    {
        "id": "7bda4ac316532683",
        "type": "subflow:0cd476c06e8fa6b2",
        "z": "f529c53e9a5aba38",
        "d": true,
        "name": "",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "373afe371e3f68bc",
                "91c735829c759adf"
            ]
        ]
    },
    {
        "id": "373afe371e3f68bc",
        "type": "debug",
        "z": "f529c53e9a5aba38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "145f030969ec6a34",
        "type": "comment",
        "z": "f529c53e9a5aba38",
        "name": "LECTURA DE TAGS DE RFID",
        "info": "",
        "x": 200,
        "y": 100,
        "wires": []
    },
    {
        "id": "8f1e1a405bcece58",
        "type": "comment",
        "z": "f529c53e9a5aba38",
        "name": "LECTURA DE CODIGOS DE BARRAS",
        "info": "",
        "x": 190,
        "y": 420,
        "wires": []
    },
    {
        "id": "70cb46d153314cb5",
        "type": "debug",
        "z": "f529c53e9a5aba38",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 580,
        "wires": []
    },
    {
        "id": "91c735829c759adf",
        "type": "subflow:38350d51ad4eaafe",
        "z": "f529c53e9a5aba38",
        "name": "",
        "x": 900,
        "y": 360,
        "wires": []
    }
]